<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" />

    <title>Bulk Messages Sender</title>
  </head>

  <body>
    <div class="container">
      <header class="main-header">
        <a href="https://www.facebook.com/ChoirTasbehna">
          <img
            alt="Tasbehna logo"
            src="img/tasbehna logo black.png"
            height="100"
          />
        </a>

        <!-- <nav>
          <a href="blog.html">Blog</a>
          <a href="#">Challenges</a>
          <a href="#">Flexbox</a>
          <a href="#">CSS Grid</a>
        </nav> -->
      </header>
      <h3>With one click, you can send multiple messages:-</h3>
      <br /><br />

      <form
        class="form"
        action="/"
        method="post"
        enctype="multipart/form-data"
      >
        <label class="form-label">Message: </label>
        <textarea
          class="form-textarea"
          name="text"
          rows="5"
          placeholder="Enter your Message here with placeholder ex. (ph_name_ph)"
          required
        ></textarea>
        <label class="form-label" for="file">Contacts file: </label>
        <input
          class="form-file"
          id="file"
          type="file"
          name="file"
          accept=".csv"
          required
        />
        <label class="form-label" for="images">Images: </label>
        <input
          class="form-file"
          id="images"
          type="file"
          name="images"
          accept=".png, .jpg, .jpeg"
        />
        <input class="form-submit" type="submit" value="Next to Scan QR Code" />
      </form>

      <!-- <footer class="footer">
        <p id="copyright" class="copyright text">
          Copyright &copy; 2027 by The Code Magazine.
        </p>
      </footer> -->
    </div>
  </body>
</html>
